[Unit]
Description=dotnet-veml7700
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dotnet-veml7700/WebApp
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
