[Unit]
Description=dotnet-veml7700
Wants=network-online.target
After=network-online.target

[Service]
Environment=ASPNETCORE_URLS=http://*:8080
WorkingDirectory=/usr/bin/dotnet-veml7700
ExecStart=/usr/bin/dotnet-veml7700/WebApp

[Install]
WantedBy=multi-user.target
